## create data frame froman excel spreadsheet

In [2]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\user\OneDrive\Documents\emp.xlsx")
df

   empid ename         job        doj
0   1001   aaa     manager 2016-04-03
1   1002   bbb       clerk 2015-01-01
2   1003   ccc    salesman 2017-05-09
3   1004   ddd  operations 2015-06-11

## Creating data frame from .csv file

In [10]:
df = pd.read_csv(r"C:\Users\user\Desktop\dataframe\test.csv")
df

   empid   ename  salary         job
0   1000   gopal   34000     manager
1   1001  suresh   45000  operations
2   1002  naresh   23000   marketing

## Creating data frame from html file

In [3]:
df=pd.read_html(r"https://www.livingin-canada.com/house-prices-canada.html")
df

[                                                City  \
 0                                      Vancouver, BC
 1                                       Toronto, Ont
 2                                        Ottawa, Ont
 3                                       Calgary, Alb
 4                                      Montreal, Que
 5                                        Halifax, NS
 6                                       Regina, Sask
 7                                    Fredericton, NB
 8  (adsbygoogle = window.adsbygoogle || []).push(...

                                  Average House Price  \
 0                                         $1,036,000
 1                                           $870,000
 2                                           $479,000
 3                                           $410,000
 4                                           $435,000
 5                                           $331,000
 6                                           $254,000
 7                                           $198,000
 8  (adsbygoogle = window.adsbygoogle || []).push(...

                                      12 Month Change
 0                                           + 2.63 %
 1                                            +10.2 %
 2                                           + 15.4 %
 3                                            – 1.5 %
 4                                            + 9.3 %
 5                                            + 3.6 %
 6                                            – 3.9 %
 7                                            – 4.3 %
 8  (adsbygoogle = window.adsbygoogle || []).push(...  ,
                                              Province  \
 0                                    British Columbia
 1                                             Ontario
 2                                             Alberta
 3                                              Quebec
 4                                            Manitoba
 5                                        Saskatchewan
 6                                         Nova Scotia
 7                                Prince Edward Island
 8                             Newfoundland / Labrador
 9                                       New Brunswick
 10                                   Canadian Average
 11  (adsbygoogle = window.adsbygoogle || []).push(...

                                   Average House Price  \
 0                                            $736,000
 1                                            $594,000
 2                                            $353,000
 3                                            $340,000
 4                                            $295,000
 5                                            $271,000
 6                                            $266,000
 7                                            $243,000
 8                                            $236,000
 9                                            $183,000
 10                                           $488,000
 11  (adsbygoogle = window.adsbygoogle || []).push(...

                                       12 Month Change
 0                                             + 7.6 %
 1                                             – 3.2 %
 2                                             – 7.5 %
 3                                             + 7.6 %
 4                                             – 1.4 %
 5                                             – 3.8 %
 6                                             + 3.5 %
 7                                             + 3.0 %
 8                                             – 1.6 %
 9                                             – 2.2 %
 10                                            – 1.3 %
 11  (adsbygoogle = window.adsbygoogle || []).push(...  ]

In [5]:
df=pd.read_html("https://www.livingin-canada.com/house-prices-canada.html")
df[0]

,City,Average House Price,12 Month Change
0,"Vancouver, BC","$1,036,000",+ 2.63 %
1,"Toronto, Ont","$870,000",+10.2 %
2,"Ottawa, Ont","$479,000",+ 15.4 %
3,"Calgary, Alb","$410,000",– 1.5 %
4,"Montreal, Que","$435,000",+ 9.3 %
5,"Halifax, NS","$331,000",+ 3.6 %
6,"Regina, Sask","$254,000",– 3.9 %
7,"Fredericton, NB","$198,000",– 4.3 %
8,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...

In [6]:
df=pd.read_html(r"https://www.livingin-canada.com/house-prices-canada.html")
df[1]

,Province,Average House Price,12 Month Change
0,British Columbia,"$736,000",+ 7.6 %
1,Ontario,"$594,000",– 3.2 %
2,Alberta,"$353,000",– 7.5 %
3,Quebec,"$340,000",+ 7.6 %
4,Manitoba,"$295,000",– 1.4 %
5,Saskatchewan,"$271,000",– 3.8 %
6,Nova Scotia,"$266,000",+ 3.5 %
7,Prince Edward Island,"$243,000",+ 3.0 %
8,Newfoundland / Labrador,"$236,000",– 1.6 %
9,New Brunswick,"$183,000",– 2.2 %
10,Canadian Average,"$488,000",– 1.3 %
11,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...

In [7]:
df=pd.read_html(r"https://www.livingin-canada.com/house-prices-canada.html")
df[2]

IndexError: list index out of range